* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #FF5733;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Open Sans', sans-serif;
   
}

.app {
  max-width: 100%;
  width: 700px;
  background: #FDFEFE;
 padding: 20px 40px;
 border-radius: 10px;
 box-shadow:
  0  5px 10px rgba(0,0,0,0.2),
  0 15px 40px rgba(0,0,0,0.2);
}
.title{
  text-align: center;
  
}
h1{
  font-size: 50px;
  color: #333;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
 li {
   font-size: 20px;
   padding: 10px 14px;
   margin: 10px 0px;
   color: #000;
   background: #eee;
   border-radius: 20px;
 }
ul:hover{
  text-decoration-line: line-through;
}
 .btn1 {
   position: absolute;
   top: 7px;
   right: 10px;
   background: transparent;
   color: tomato;
   font-size: 30px;
   border: 0;
   outline: 0;
   cursor: pointer;
   
 }
 .btn1:active{
   transform: scale(0.96);
 }
.text {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
  text-transform: capitalize;
}

form {
  text-align: center;
  margin: 20px auto;
}
input {
  width: 85%;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 6px;
  border: 2px solid #FF5733;
  outline: 0;
  color: #000;
  
}
.btn {
  color: #333;
  padding: 10px 24px;
   background: #FF5733;
   color: #ffff;
   font-size: 20px;
   border: 0;
   outline: 0;
   cursor: pointer;
   border-radius: 8px;
   text-transform: capitalize;
   margin-left: 8px;
}
.btn:active{
  transform: scale(0.98);
}
span {
  color: #FF5733;
}


@media (max-width: 700px){
  .app {
    /* max-width: 100%; */
    width: 450px;
    padding: 20px 20px;
  }

  input{
    width: 85%;
    margin-bottom: 20px;
    font-size: 1.1em;
  }
  .btn{
    padding: 10px 50px;
    border-radius: 20px;
  }
}
@media (max-width: 460px){
  .app {
    /* max-width: 100%; */
    width: 350px;
    padding: 20px 10px;
  }
  h1{
    font-size: 40px;
  
  }
  input{
    width: 90%;
    margin-bottom: 20px;
    font-size: 1.2em;
    padding: 8px;
  }
  li{
    font-size: 1.2em;
  }
  .btn{
    padding: 10px 50px;
    border-radius: 20px;
  }
  .btn1{
    font-size: 25px ;
  }
  .text{
    font-size: 1.5em;
  }
}